<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.police_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/police"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/police"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".DisplayOfficersActivity"
            android:label="@string/officers"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DisplayTeamsActivity"
            android:label="@string/teams"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DisplayInterventionsActivity"
            android:label="@string/interventions"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DisplayNewOfficerActivity"
            android:label="@string/addOfficer"
            android:parentActivityName=".DisplayOfficersActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayOfficersActivity" />
        </activity>
        <activity
            android:name=".DisplayNewTeamActivity"
            android:label="@string/addTeam"
            android:parentActivityName=".DisplayTeamsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayOfficersActivity" />
        </activity>
        <activity
            android:name=".DisplayNewInterventionActivity"
            android:label="@string/addIntervention"
            android:parentActivityName=".DisplayInterventionsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayOfficersActivity" />
        </activity>
        <activity
            android:name=".DisplayInfosOfficerActivity"
            android:label="@string/info_officier"
            android:parentActivityName=".DisplayOfficersActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayOfficersActivity" />
        </activity>
        <activity
            android:name=".DisplayInfosTeamActivity"
            android:label="@string/info_team"
            android:parentActivityName=".DisplayTeamsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayTeamsActivity" />
        </activity>
        <activity
            android:name=".DisplayInfoInterventionActivity"
            android:label="@string/info_intervention"
            android:parentActivityName=".DisplayInterventionsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayInterventionsActivity" />
        </activity>
    </application>

</manifest>